body{
    margin: 10px;
    background-color: aliceblue;
    font-family: 'Syne Mono', cursive;
}

.page-nav{
    background-color: aquamarine;
    border: 1px solid black;
}
.page-nav h1{
     margin: 20px;
}
.page-content{
    border: 1px solid rgb(209, 95, 95);
}