body{
    margin: 10px;
    background-color: lightpink;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
}

.con{
    float: left;
    background: rgba(190, 136, 144, 0.281);
    width: 600px;
    height: 600px;
    margin-right: 50px;
}

.con img{
    padding: 40px 80px 90px 80px;
    height: 500px;
}
.page-content{
    float: left;
    background: rgba(238, 223, 234, 0.781);
    position: relative;
    width: 600px;
    height: 600px;
    text-align: center;
    margin: auto;

}
.pag-prin {
   grid-area: footer;
   padding-top: 60px;

}

button{
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 24px;
    background-color: rgba(243, 229, 242, 0.226);

}

input{
    border-radius: 10px;
    font-size: 20px;
    width: 200px;
    height: 40px;
    border: 2px solid rgba(73, 36, 78, 0.89);
    background-color: rgba(243, 229, 242, 0.226);
}

input:hover{
    box-shadow: 0 8px 16px 0 rgba(248, 246, 247, 0.863);
  }